@model Web1.Models.Checkup

@{
    ViewBag.Title = "Checkup Details";
}

<h2>Checkup Details</h2>

<div>
    <h4>Checkup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CheckupID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckupID)
        </dd>

    </dl>
</div>

<p>
    <b>Doctor ID:</b> @Html.DisplayFor(model => model.DoctorID) <br>
    <b>Patient ID:</b> @Html.DisplayFor(model => model.PatientID) <br>
    <b>Type:</b> @Html.DisplayFor(model => model.type) <br>
    <b>Result:</b> @Html.DisplayFor(model => model.result.ToString())
</p>

<p>
    @Html.ActionLink("Back to List", "ListCheckups")
</p>
