@model (Web1.Models.Checkup, Web1.Models.Patient)

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Checkup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Item1.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Item1.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.Result)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.Result)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item2.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item2.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item2.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item2.LastName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Item1.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
