@model IEnumerable<Web1.Models.Checkup>

@{
    ViewBag.Title = "Checkups List";
}

<h2>Checkups List</h2>

<p>
    @Html.ActionLink("Add New Checkup", "AddCheckup")
</p>
<table class="table">
    <tr>
        <th>
            <b>Doctor ID</b>      <b>Patient ID</b>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor_DoctorID.DoctorID) @Html.DisplayFor(modelItem => item.Patient_PatientID.PatientID)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditCheckup", new { id = item.CheckupID }) |
                @Html.ActionLink("Details", "CheckupDetails", new { id = item.CheckupID }) |
                @Html.ActionLink("Delete", "DeleteCheckup", new { id = item.CheckupID })
            </td>
        </tr>
    }

</table>