@model IEnumerable<Web1.Models.Patient>

@{
    ViewBag.Title = "Index";
}

<div class="column right">
    <div id="map"></div>
    <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 2,
                center: new google.maps.LatLng(32.92923, 30.8823322),
                mapTypeId: 'terrain'
            });
        }
    </script>
    <script 
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSBS2OpxbTvffxXEP8ydmTil5clFdbXYA&callback=initMap">
    </script>

    <script>
        function func(Latitude, Longitude) {
            var latLng = new google.maps.LatLng(Latitude, Longitude);
            var marker = new google.maps.Marker({
                position: latLng,
                map: map
            });
        }
    </script>
</div>


<div class="column left">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    @using (Html.BeginForm())
    {
        <p>
            <h6>Filter:</h6>
            name: @Html.TextBox("fname") last-name: @Html.TextBox("lname")  age: @Html.TextBox("age")
            <input type="submit" value="Search" />
        </p>
    }
    <table cellpadding="7">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Longitude)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Latitude)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>

            @*<th>
                    @Html.DisplayNameFor(model => model.Zip)
                </th>*@
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.Gender)
                </th>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Longitude)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Latitude)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Zip)
                    </td>*@
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </table>
    @foreach (var item in Model)
    {
        <script>func('@item.Latitude', '@item.Longitude') </script>
    }
</div>


<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
        height: 400px;
        width: 350px;
    }
    /* Optional: Makes the sample page fill the window. */
    /*html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }*/

    .column {
        float: right;
    }

    .left {
        width: 75%;
    }

    .right {
        width: 25%;
    }
</style>






