@model IEnumerable<Web1.Models.Patient>

@{
    ViewBag.Title = "Patients List";
}

<h2>Patients List</h2>

<p>
    @Html.ActionLink("Create New", "CreatePatient")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.ActionLink("Details", "PatientDetails", new { id = item.PatientID }) |
                @Html.ActionLink("Delete", "DeletePatient", new { id = item.PatientID })
            </td>
        </tr>
    }

</table>