@model (Web1.Models.Appointment, Web1.Models.Patient, Web1.Models.Doctor)

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Item1.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Item1.Date_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.Date_Time)
        </dd>

        <dt>
            Patient First Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item2.FirstName)
        </dd>

        <dt>
            Patient Last Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item2.LastName)
        </dd>

        <dt>
            Doctor First Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item3.FirstName)
        </dd>

        <dt>
            Doctor Last Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item3.LastName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Item1.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
