@using Microsoft.AspNet.Identity;
@using Web1.Models;
@using Microsoft.AspNet.Identity.EntityFramework;
@model IEnumerable<(Web1.Models.Appointment, Web1.Models.Patient, Web1.Models.Doctor)>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    string cid = User.Identity.GetUserId();
    UserManager<ApplicationUser> userManager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
    var roles = userManager.GetRoles(cid);
    if (roles[0] == "Doctor")
    {
        <p>
            <h6>Filter:</h6>
            Doctor's ID: @Html.TextBox("docID") Patient's ID: @Html.TextBox("patID")  Date: @Html.TextBox("dateTime")
            <input type="submit" value="Search" />
        </p>
    }
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Item1.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item1.Date_Time)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.IsAvaliable)
        </th>*@
        <th>
            @*
        @Html.DisplayNameFor(model => model.Item2.FirstName)
            *@
            Patient First Name
        </th>
        <th>
            @*
        @Html.DisplayNameFor(model => model.Item2.LastName)
            *@
            Patient Last Name
        </th>
        <th>
            @*
        @Html.DisplayNameFor(model => model.Item3.FirstName)
            *@
            Doctor First Name
        </th>
        <th>
            @*
        @Html.DisplayNameFor(model => model.Item3.LastName)
            *@
            Doctor Last Name
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Item1.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Item1.Date_Time)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.IsAvaliable)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Item2.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Item2.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Item3.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Item3.LastName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Item1.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.Item1.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Item1.ID })
        </td>
    </tr>
    }

</table>

<style>
    input[type=text] {
        width: 100px;
        -webkit-transition: width .35s ease-in-out;
        transition: width .35s ease-in-out;
    }

        input[type=text]:focus {
            width: 250px;
        }
</style>
