@model IEnumerable<Web1.Models.Appointment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Time)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.IsAvaliable)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Doctor_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patient_ID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Time)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.IsAvaliable)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Doctor_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patient_ID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
